.btn {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #1874CD;
    padding: 7px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.1s ease 0s;
}

.btn:hover {
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.1s ease 0s;
}

.btn-disabled {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #dddddd;
    padding: 7px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.1s ease 0s;
}