// Colors
$defaultblue: #10549f;
$defaultgreen: #349948;
$defaultblack: #1c1c1c;
$brandwarning: #FBB032;
$brandsand: #c5df6e;
$brandsuccess: #4acdcc;
$branddanger: #f37979;
$brandinfo: #0abbd4;
$brandprimary: #1eacdf;
$brandmystery: #8D6A9F;
$brandinverse: #43586d;
$greyscale_0: #fff;
$greyscale_10: #f0f3f4;
$greyscale_25: #d7e2ea;
$greyscale_50: #aeb6bf;
$greyscale_75: #aab2bc;
$greyscale_90: #5c6f84;
$greyscale_100: #2f3436;