  
  #recorte-preservado:hover{
    fill: #2756a1 !important;
    cursor: pointer;
  }
  
  #br-map{
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  #br-map path:hover, #br-map circle:hover {
    stroke: #002868 !important;
    stroke-width:2px;
    stroke-linejoin: round;
    fill: #002868 !important;
    cursor: pointer;
  }

  #info-box {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: #ffffff;
    border: 2px solid #006600;
    border-radius: 5px;
    padding: 5px;
  }