@import './common.scss';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900&display=swap');

body {
	font-family: 'Source Sans Pro', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	margin: 0;
}

.default-blue {
	background-color: $defaultblue;
	border-color: transparent;
	color: #fff;
}

button.default-blue:hover {
	background-color: $bluehover;
	color: #fff;
}

.main-figure {
	padding-top: 100px;
	min-height: 700px;
	height: 100vh;
	background: url('../img/BANNER_SITE-01.svg') bottom center no-repeat;
	background-color: #f8f8f8;
	background-size: cover;
	margin-bottom: -0.1em;
}

.title {
	display: block;
	padding: 2rem 0 0;
	font-family: Evolventa, Trebuchet MS, sans-serif;
	font-size: 2.5em;
	text-align: center;
	line-height: normal;

	span {
		padding: 10px;
	}
}

.section-dark {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	background-color: $defaultblack;
	color: #fff;
	padding: 70px 5px;

	p {
		margin: 0 50px 50px;
	}

	div {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.responsive-container {
		position: relative;
		overflow: hidden;
		padding-top: 56.25%;

		.responsive-video {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: 0;
		}
	}
}

#menu-cards {
	margin: 50px 0 50px 0;
}

.flip-cards {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	box-sizing: border-box;
}

.flip {
	position: relative;
	cursor: pointer;
	display: inline-table;
	margin-right: 2px;
	margin-bottom: 2em;
	width: 150px;

	> .front,
	> .back {
		display: block;
		transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
		transition-duration: 0.5s;
		transition-property: transform, opacity;
		color: white;
		width: inherit;
		background-size: cover !important;
		background-position: center !important;
		height: 220px;
		padding: 1em 2em;
		background-color: #313131;
		border-radius: 10px;

		p {
			font-size: 0.9125rem;
			line-height: 160%;
			color: #fff;
		}
	}
	> .front {
		transform: rotateY(0deg);

		.icon {
			cursor: pointer;
			padding: 15px;
			border: 5px solid #fff;
			border-radius: 50%;
			height: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.text-card {
			text-align: center;
		}
	}
	> .back {
		position: absolute;
		opacity: 0;
		top: 0px;
		left: 0px;
		transform: rotateY(-180deg);
	}
	&:hover {
		> .front {
			transform: rotateY(180deg);
		}
		> .back {
			opacity: 1;
			transform: rotateY(0deg);
		}
	}
	&.flip-vertical {
		> .back {
			transform: rotateX(-180deg);
		}
		&:hover {
			> .front {
				transform: rotateX(180deg);
			}
			> .back {
				transform: rotateX(0deg);
			}
		}
	}
}

.newsletter {
	background-color: $defaultgrey;
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-weight: 800;
	font-size: 1.3em;
	font-style: italic;

	.newsletter-container {
		display: flex;
		flex-direction: column;
		width: 100%;

		span {
			text-align: center;
		}

		.newsletter-form-container {
			margin-top: 10px;

			.newsletter-form {
				background: #fff;
				border: #b7b7b7 solid 1px;
				border-radius: 3px;
				box-shadow: 0 0 3px #ccc;
				position: relative;
				font-family: 'Source Sans Pro', sans-serif;
				max-width: 500px;
				margin: auto;

				input[type='email'] {
					border: none;
					box-shadow: none;
					font-weight: 600;
					font-size: 14px;
					width: 80%;
					padding: 0.5em;
					margin: 0;
					overflow: hidden;
					height: 30px;

					&:focus {
						outline: none;
					}
				}

				button[type='submit'] {
					background: linear-gradient(
						lighten($highlight_color, 10%),
						lighten($highlight_color, 3%)
					);
					color: rgba(255, 255, 255, 0);
					border: 1px solid $highlight-color;
					width: 10%;
					min-width: 56px;
					position: absolute;
					top: -1px;
					right: -1px;
					bottom: -1px;
					border-radius: 0 3px 3px 0;
					margin: 0;
					user-select: none;

					svg {
						color: white;
						font-size: 25px;
					}

					&:hover,
					&:focus {
						background: linear-gradient(
							lighten($highlight_color, 15%),
							lighten($highlight_color, 7%)
						);
						box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
						cursor: pointer;
					}
				}

				::placeholder {
					font-weight: 400;
				}
			}
		}
	}
}

.licenca {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(180, 225, 250);
	font-size: 18px;
	height: 130px;
	flex-direction: column;
	bottom: 0;

	span {
		text-align: center;
		width: 100%;
		margin-bottom: 10px;

		a {
			margin-left: 5px;
			display: contents;
		}
	}

	.logo-licenca {
		width: 100px;
		margin-left: 15px;
	}
}

.main {
	width: 70%;
	margin: 0 auto;
	padding-top: 100px;
	padding-bottom: 100px;

	a {
		color: $defaultblue;
		text-decoration: none;
		font-weight: normal;

		&:hover {
			color: $bluehover;
			text-decoration: underline;
		}
	}
}

#faq {
	.container {
		margin: 0 auto;
		padding: 4rem;
		width: 48rem;
	}

	.accordion {
		.accordion-item {
			border-bottom: 1px solid $defaultblue;
			button[aria-expanded='true'] {
				border-bottom: 1px solid $defaultblue;
			}
		}
		button {
			position: relative;
			display: block;
			text-align: left;
			width: 100%;
			padding: 1em 0;
			color: $defaultblack;
			font-size: 1.15rem;
			font-weight: 400;
			border: none;
			background: none;
			outline: none;
			&:hover,
			&:focus {
				cursor: pointer;
				color: $defaultblue;
				&::after {
					cursor: pointer;
					color: $defaultblue;
					border: 1px solid $defaultblue;
				}
			}
			.accordion-title {
				padding: 1em 1.5em 1em 0;
			}
			.icon {
				display: inline-block;
				position: absolute;
				top: 18px;
				right: 0;
				width: 22px;
				height: 22px;
				border: 1px solid;
				border-radius: 22px;
				&::before {
					display: block;
					position: absolute;
					content: '';
					top: 9px;
					left: 6px;
					width: 10px;
					height: 2px;
					background-color: currentColor;
				}
				&::after {
					display: block;
					position: absolute;
					content: '';
					top: 5px;
					left: 10px;
					width: 2px;
					height: 10px;
					background-color: currentColor;
				}
			}
		}
		button[aria-expanded='true'] {
			color: $defaultblue;
			.icon {
				&::after {
					width: 0;
				}
			}
			+ .accordion-content {
				opacity: 1;
				max-height: max-content;
				transition: all 200ms linear;
				will-change: opacity, max-height;
			}
		}
		.accordion-content {
			opacity: 0;
			max-height: 0;
			overflow: hidden;
			transition: opacity 200ms linear, max-height 200ms linear;
			will-change: opacity, max-height;
			p {
				font-size: 1rem;
				font-weight: 300;
				margin: 2em 0;
			}
		}
	}
}

#dados {
	.timeline-item {
		.dados-passo {
			display: flex;
			justify-content: center;
			img {
				width: 100px;
			}
		}
		.passo1 {
			img {
				margin: 1rem;
			}
		}
		.passo4 {
			img {
				width: 300px;
			}
		}
	}

	.buttons-dados {
		display: flex;
		justify-content: center;
		button {
			border: none;
			background-color: $defaultblue;
			border-radius: 35px;
			padding: 10px 20px;
			color: $defaultgrey;
			margin: 40px;
			&:hover {
				background-color: $bluehover;
				cursor: pointer;
			}
		}
	}

	$border-color: rgba(16, 84, 159, 0.6);

	.timeline-item {
		padding: 3em 2em 2em;
		position: relative;
		color: $defaultblue;
		border-left: 2px solid $border-color;

		p {
			color: $defaultblack;
			font-size: 1rem;
		}

		&::before {
			content: attr(step);
			position: absolute;
			left: 2em;
			font-weight: bold;
			top: 0.7em;
			display: block;
			font-family: 'Roboto', sans-serif;
			font-weight: 700;
			text-transform: uppercase;
			font-size: 1rem;
		}

		&::after {
			width: 10px;
			height: 10px;
			display: block;
			top: 1em;
			position: absolute;
			left: -7px;
			border-radius: 10px;
			content: '';
			border: 2px solid $border-color;
			background: white;
		}

		&:last-child {
			border-image: linear-gradient(
					to bottom,
					$border-color 60%,
					rgba($border-color, 0)
				)
				1 100%;
		}
	}
}

#contribua {
	.github {
		display: flex;
		justify-content: center;
	}
}
#projetos {
	/*PEN STYLES*/
	* {
		box-sizing: border-box;
	}

	body {
		background-color: #f1f1f1;
		margin: 2rem;
	}

	.blog-card {
		display: flex;
		flex-direction: column;
		margin: 5rem auto;
		box-shadow: 0 3px 7px -1px rgba(#000, 0.1);
		margin-bottom: 1.6%;
		background-color: $greyscale_50;
		line-height: 1.4;
		font-family: sans-serif;
		border-radius: 5px;
		overflow: hidden;
		z-index: 0;
		a {
			color: inherit;
			&:hover {
				color: $bluehover;
			}
		}
		&:hover {
			.photo {
				transform: scale(1.3) rotate(3deg);
			}
		}
		.meta {
			position: relative;
			z-index: 0;
			height: 200px;
		}
		.photo {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-size: cover;
			background-position: center;
			transition: transform 0.2s;
		}

		.description {
			padding: 1rem 2rem;
			background-color: $greyscale_10;
			position: relative;
			z-index: 1;
			h1,
			h2 {
				font-family: Poppins, sans-serif;
			}
			h1 {
				line-height: 1;
				margin: 0;
				font-size: 1.7rem;
			}
			h2 {
				font-size: 1rem;
				font-weight: 300;
				text-transform: uppercase;
				color: $greyscale_75;
				margin-top: 5px;
			}
			.read-more {
				text-align: right;
				a {
					color: $bluehover;
					display: inline-block;
					position: relative;
					&:after {
						content: '➡';
						margin-left: -10px;
						opacity: 0;
						vertical-align: middle;
						transition: margin 0.3s, opacity 0.3s;
					}
					&:hover:after {
						margin-left: 5px;
						opacity: 1;
					}
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
		p {
			position: relative;
			margin: 1rem 0 0;
			&:first-of-type {
				margin-top: 1.25rem;
				&:before {
					content: '';
					position: absolute;
					height: 5px;
					background-color: $bluehover;
					width: 30%;
					top: -0.75rem;
					border-radius: 3px;
				}
			}
		}
		&:hover {
			.details {
				left: 0%;
			}
		}

		@media (min-width: 640px) {
			flex-direction: row;
			max-width: 700px;
			.meta {
				flex-basis: 40%;
				height: auto;
			}
			.description {
				flex-basis: 60%;
				&:before {
					transform: skewX(-3deg);
					content: '';
					background-color: #fff;
					width: 30px;
					position: absolute;
					left: -10px;
					top: 0;
					bottom: 0;
					z-index: -1;
				}
			}
			&.alt {
				flex-direction: row-reverse;
				.description {
					&:before {
						left: inherit;
						right: -10px;
						transform: skew(3deg);
					}
				}
			}
		}
	}
}

#quem-somos {
	#conselho-consultivo {
		margin-top: 3rem;
	}
	.team-container {
		display: flex;
		justify-content: center;
		.team {
			width: 30%;
		}
	}
	.team-list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		.team-profile {
			display: flex;
			flex-direction: column;
			margin: 3rem;
		}
		.team-picture {
			position: relative;
			width: 150px;
			height: 150px;
			overflow: hidden;
			border-radius: 50%;
			img {
				width: 100%;
				height: auto;
			}
		}
	}
}

#servicos {
	.cards {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		.card {
			width: 250px;
			min-width: 250px;
			background-color: $shade_color;
			border-radius: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
			transition: 0.3s;
			margin: 3rem;
			&:hover {
				box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
			}
		}
		.card-image {
			background-color: $brandinfo;
			display: flex;
			justify-content: center;
			align-content: center;
			padding: 20px;
			border-radius: 10px 10px 0 0;
			img {
				height: 100px;
				max-height: 100px;
			}
		}
		.card-content {
			padding: 20px;
			.card-title {
				font-size: 16px;
				font-weight: 700;
				border-bottom: 1px solid $greyscale_50;
				margin-bottom: 10px;
				padding-bottom: 10px;
				text-align: center;
			}
		}
	}
}

#parceiros {
	.parceiros {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		img {
			max-width: 200px;
			margin: 20px;
		}
		.white-image {
			filter: grayscale(1) invert(1);
		}
	}
}
